{% extends "base.html" %}
{% load static %}
{% block title %}Custom 404{% endblock %}
{% block main %}
<div class="p-3 d-flex justify-content-center">
    <div class="card col-6">
        <div class="card-header">
            Ошибка сервера 500
        </div>
        <img src="{% static 'img/500.png' %}" class="card-img-top" alt="Custom 500">
        <div class="card-body">
          <p class="card-text">
            На сервере произошла неприведнная ошибка. Пожалуйста подождите: вскоре она будет исправлена
          </p>
          <a href="{% url 'posts:index' %}" class="btn btn-warning">Попробовать снова</a>
        </div>
      </div>
</div>
{% endblock %}